{% extends 'base/index.html' %}

{% block title %}Add Stationery Item{% endblock %}

{% block head %}

{% load static %}

{% endblock %}

{% block body %}
<div class="form-container segment">
    <form method="post" enctype="multipart/form-data">
        <h2>Add Stationery Item</h2>

        <div class="form-element django-message">
            {% csrf_token %}
            {% for message in messages %}
            <li class="{{ message.tags }}">
                {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
            </li>
            {% endfor %}
        </div>

        <div class="form-element">
            <div class="form-left">
                <label for="stationery_item_name">Name:</label>
            </div>
            <div class="form-right">
                <input type="text" name="stationery_item_name" id="stationery_item_name" required>
            </div>
        </div>

        <div class="form-element">
            <div class="form-left">
                <label for="stationery_item_description">Description:</label>
            </div>
            <div class="form-right">
                <input type="text" name="stationery_item_description" id="stationery_item_description" required>
            </div>
        </div>

        <div class="form-element">
            <div class="form-right">
                <label for="stationery_item_quantity">Quantity:</label>
            </div>
            <div class="form-left">
                <input type="number" name="stationery_item_quantity" id="stationery_item_quantity" required>
            </div>
        </div>

        <div class="form-element">
            <div class="form-right">
                <label for="stationery_item_image" class="form-label">Image:</label>
            </div>
            <div class="form-left">
                <input type="file" class="form-control" name="stationery_item_image">
            </div>
        </div>

        <div class="form-element">
            <button type="submit" class="form-submit-button">Add Stationery Item</button>
        </div>
    </form>
</div>
{% endblock %}